* {
    box-sizing: border-box;
  }

  .column-1 {
    padding-left: 380px;
    padding-top: 45px;
    padding-right: 450px;
    background-color: #ffffff;
    text-align: left;
    color: rgb(31, 30, 30);
    font-family: Tahoma;
    font-size: 16px;
  }

  .column-type-1 {
    padding-left: 450px;
    padding-top: 0px;
    padding-right: 450px;
    background-color: #ffffff;
    text-align: left;
    color: rgb(31, 30, 30);
    font-family: Tahoma;
    font-size: 16px;
    margin-top: -230px;
    margin-bottom: -50px;
  }

  .column-type-2 {
    padding-left: 450px;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-right: 450px;
    background-color: #ffffff;
    text-align: left;
    color: rgb(31, 30, 30);
    font-family: Tahoma;
    font-size: 16px;
    margin-top: -300px;
  }

  .column-2 {
    float: right;
    width: 45%;
    padding: 30px;
    padding-left:70px;
    padding-right: 70px;
    height: 350px;
    margin:-200px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #ffffff;
    line-height:2;
    text-align: right;
    color: rgb(31, 30, 30);
    font-family: Tahoma;
    font-size: 16px;
    size: 25%;
  }

  .column-3 {
    padding-right: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ffffff;
    text-align: left;
    color: rgb(31, 30, 30);
    font-family: Tahoma;
    font-size: 16px;
  }

  .left {
    float: left;
    padding-left:620px;
    padding-right: 70px;
    size: 25%;
  }

  .left-1 {
    float: left;
    padding-left:0px;
    padding-right:0px;
    size: 25%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image img {
    transform: rotate(270deg);
  }

  .photo {
    padding-left:620px;
    padding-right: 70px;
  }

  .navbar-footer {
    background-color: rgb(255, 255, 255);
    overflow: visible;
    position: sticky;
    float: center;
    padding-left: 620px;
    bottom: 0;
    font-family: Consolas;
    width: 100%;
  }

  .navbar-footer-about {
    background-color: rgb(255, 255, 255);
    float: center;
    padding-left: 620px;
    bottom: 0;
    font-family: Consolas;
    width: 100%;
  }

  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: rgb(0, 0, 0);
  overflow: visible;
  position: sticky;
  bottom: 0;
  font-family: Consolas;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #1ecf59;
  color: rgb(255, 255, 255);
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #1ecf59;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.loc {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 380px;
  padding-bottom: 150px;
}
.loc2{
  padding-left: 550px;
}